doctype html
html
  head
    title= title

    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")

    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/clean-blog.min.css", rel="stylesheet")

    //- link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet", type="text/css")
    //- link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    //- link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  body
    // Navigation
    nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
        div.container-fluid
            // Brand and toggle get grouped for better mobile display
            div.navbar-header.page-scroll
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only="Toggle navigation"
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="index.html") Start Bootstrap

            // Collect the nav links, forms, and other content for toggling
            div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="index.html") Home
                    li
                        a(href="about.html") About
                    li
                        a(href="post.html") Sample Post
                    li
                        a(href="contact.html") Contact
            // /.navbar-collapse
        // /.container
        block content
